@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

:root {
  color-scheme: dark;
  --cor-borda: rgb(233, 0, 136);
  --fundo-input: rgb(53, 5, 38);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(51, 5, 34);
}

h1 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  border: 1px solid var(--cor-borda);
  margin-inline: 34%;
  border-radius: 12px;
  padding: 0.5rem;
  color: rgb(255, 0, 115);
  box-shadow: 0px 0px 5.3px rgba(177, 7, 151, 0.106),
    0px 0px 17.6px rgba(184, 21, 141, 0.134),
    0px 0px 79px rgba(217, 27, 116, 0.13);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form,
textarea {
  border: 1px solid var(--cor-borda);
  padding: 1rem;
  border-radius: 20px;
  margin-right: 2rem;
  background-color: rgb(28, 7, 39);
  box-shadow: 0px 0px 5.3px rgba(177, 7, 154, 0.106),
    0px 0px 17.6px rgba(184, 21, 132, 0.134),
    0px 0px 79px rgba(217, 27, 116, 0.13);
}

input[type="text"] {
  width: 95px;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 1px solid var(--cor-borda);
  padding: 6px;
  text-align: center;
  background-color: var(--fundo-input);
  margin-bottom: 0.5rem;
}

input[type="text"]:disabled {
  color: white;
}

#operador {
  width: 32px;
  padding: 5px;
  margin: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 5.3px rgba(177, 7, 154, 0.106),
    0px 0px 17.6px rgba(184, 21, 132, 0.134),
    0px 0px 79px rgba(217, 27, 116, 0.13);
}

input[type="button"] {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--cor-borda);
  font-size: 1.2rem;
  margin: 3px;
  background-color: rgb(53, 5, 38);
  box-shadow: 0px 0px 5.3px rgba(177, 7, 154, 0.106),
    0px 0px 17.6px rgba(184, 21, 132, 0.134),
    0px 0px 79px rgba(217, 27, 116, 0.13);
  transition: 0.5s ease;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: rgb(31, 2, 22);
}

.especiais {
  border-color: cyan !important;
  box-shadow: 0px 0px 5.3px rgba(7, 174, 177, 0.106),
    0px 0px 17.6px rgba(21, 86, 184, 0.134),
    0px 0px 79px rgba(27, 173, 217, 0.13);
}

textarea {
  resize: none;
  margin-right: 0;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.historico {
  text-align: center;
}

.luzes {
  box-shadow: 0px 0px 5.3px rgba(7, 174, 177, 0.206),
    0px 0px 17.6px rgba(21, 86, 184, 0.234),
    0px 0px 79px rgba(27, 173, 217, 0.375);
}

#bi {
  background-color: rgb(146, 2, 67) !important;
  border-color: var(--cor-borda) !important;
}

#bce {
  color: cyan;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  form,
  textarea {
    margin-right: 0;
  }
  .historico {
    margin-top: 1rem;
  }
}

@media (max-width: 860px) {
  h1 {
    margin-inline: 5%;
  }
}
